body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.gridContainer {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 90vh;
    aspect-ratio: 1/1;
}

.card {
    background-color: cornflowerblue;
    margin: 1vh;


    
    aspect-ratio: 1/1;

}